@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap');

#content-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center; /* เพื่อให้ข้อความอยู่ตรงกลาง */
}

* {
  font-family: 'Kanit', sans-serif;
}
